In [38]:
"""
DATE - 26/07/2021
Subject - Training Lab (ML)
Faculty - NIKITA SHARMA 
"""

In [1]:
string = "Thriller is the sixth studio album by the American singer Michael Jackson, released on November 30, 1982 by Epic Records. It is the follow-up to Jackson's critically and commercially successful fifth studio album Off the Wall (1979). Thriller explores genres similar to those of Off the Wall, including pop, post-disco, rock and funk. Recording sessions for Thriller took place from April to November 1982 at Westlake Recording Studios in Los Angeles, California with a production budget of $750,000"
len(string)

499

In [8]:
string.lower()

"thriller is the sixth studio album by the american singer michael jackson, released on november 30, 1982 by epic records. it is the follow-up to jackson's critically and commercially successful fifth studio album off the wall (1979). thriller explores genres similar to those of off the wall, including pop, post-disco, rock and funk. recording sessions for thriller took place from april to november 1982 at westlake recording studios in los angeles, california with a production budget of $750,000"

In [9]:
string.upper()

"THRILLER IS THE SIXTH STUDIO ALBUM BY THE AMERICAN SINGER MICHAEL JACKSON, RELEASED ON NOVEMBER 30, 1982 BY EPIC RECORDS. IT IS THE FOLLOW-UP TO JACKSON'S CRITICALLY AND COMMERCIALLY SUCCESSFUL FIFTH STUDIO ALBUM OFF THE WALL (1979). THRILLER EXPLORES GENRES SIMILAR TO THOSE OF OFF THE WALL, INCLUDING POP, POST-DISCO, ROCK AND FUNK. RECORDING SESSIONS FOR THRILLER TOOK PLACE FROM APRIL TO NOVEMBER 1982 AT WESTLAKE RECORDING STUDIOS IN LOS ANGELES, CALIFORNIA WITH A PRODUCTION BUDGET OF $750,000"

In [31]:
string.replace("Thriller", "->Romanchak")

"->Romanchak is the sixth studio album by the American singer Michael Jackson, released on November 30, 1982 by Epic Records. It is the follow-up to Jackson's critically and commercially successful fifth studio album Off the Wall (1979). ->Romanchak explores genres similar to those of Off the Wall, including pop, post-disco, rock and funk. Recording sessions for ->Romanchak took place from April to November 1982 at Westlake Recording Studios in Los Angeles, California with a production budget of $750,000"

In [13]:
leng = string.split(" ")
leng

['Thriller',
 'is',
 'the',
 'sixth',
 'studio',
 'album',
 'by',
 'the',
 'American',
 'singer',
 'Michael',
 'Jackson,',
 'released',
 'on',
 'November',
 '30,',
 '1982',
 'by',
 'Epic',
 'Records.',
 'It',
 'is',
 'the',
 'follow-up',
 'to',
 "Jackson's",
 'critically',
 'and',
 'commercially',
 'successful',
 'fifth',
 'studio',
 'album',
 'Off',
 'the',
 'Wall',
 '(1979).',
 'Thriller',
 'explores',
 'genres',
 'similar',
 'to',
 'those',
 'of',
 'Off',
 'the',
 'Wall,',
 'including',
 'pop,',
 'post-disco,',
 'rock',
 'and',
 'funk.',
 'Recording',
 'sessions',
 'for',
 'Thriller',
 'took',
 'place',
 'from',
 'April',
 'to',
 'November',
 '1982',
 'at',
 'Westlake',
 'Recording',
 'Studios',
 'in',
 'Los',
 'Angeles,',
 'California',
 'with',
 'a',
 'production',
 'budget',
 'of',
 '$750,000']

In [32]:
leng = string.split(",")
leng

['Thriller is the sixth studio album by the American singer Michael Jackson',
 ' released on November 30',
 " 1982 by Epic Records. It is the follow-up to Jackson's critically and commercially successful fifth studio album Off the Wall (1979). Thriller explores genres similar to those of Off the Wall",
 ' including pop',
 ' post-disco',
 ' rock and funk. Recording sessions for Thriller took place from April to November 1982 at Westlake Recording Studios in Los Angeles',
 ' California with a production budget of $750',
 '000']

In [39]:
len(leng)

8

asd.sort()

In [17]:
string.count("a")

20

In [19]:
string.lower().count("thriller")

3

In [22]:
leng.sort()

In [23]:
leng

['$750,000',
 '(1979).',
 '1982',
 '1982',
 '30,',
 'American',
 'Angeles,',
 'April',
 'California',
 'Epic',
 'It',
 "Jackson's",
 'Jackson,',
 'Los',
 'Michael',
 'November',
 'November',
 'Off',
 'Off',
 'Recording',
 'Recording',
 'Records.',
 'Studios',
 'Thriller',
 'Thriller',
 'Thriller',
 'Wall',
 'Wall,',
 'Westlake',
 'a',
 'album',
 'album',
 'and',
 'and',
 'at',
 'budget',
 'by',
 'by',
 'commercially',
 'critically',
 'explores',
 'fifth',
 'follow-up',
 'for',
 'from',
 'funk.',
 'genres',
 'in',
 'including',
 'is',
 'is',
 'of',
 'of',
 'on',
 'place',
 'pop,',
 'post-disco,',
 'production',
 'released',
 'rock',
 'sessions',
 'similar',
 'singer',
 'sixth',
 'studio',
 'studio',
 'successful',
 'the',
 'the',
 'the',
 'the',
 'the',
 'those',
 'to',
 'to',
 'to',
 'took',
 'with']

In [40]:
string[0:9]

'Thriller '

In [30]:
string[0:10:2]

'Trle '

In [33]:
string[0:10:1]

'Thriller i'

In [34]:
string[0:10:3]

'Tiei'

In [44]:
string[-18:-1]

'budget of $750,00'

# <u>BUBBLE SORT</u>

In [9]:
"""
BUBBLE SORT -  sorting in which repeatedly swapping of the adjacent elements takes place unless the largest element in current
pass comes out. 
! Buuble sort goes till the end of the list/array and calls it a complete pass.
->Worst case : n^2 
->Best case: n 
"""
def bubble_sort(arr):
    arr_len = len(arr)
    
    for i in range(0,arr_len): # n
        for j in range(0,arr_len - i - 1): #  -1 is used to stop it from re-swapping the last element.
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j] # Swapping of variables ! Without 3rd var
                

array = [12,3,33,4,1,6,8,2]
bubble_sort(array)

array

[1, 2, 3, 4, 6, 8, 12, 33]

In [16]:
ai = input(" ").split(" ")
ai = [int(i) for i in ai] 
ai

 1 2 55 43

In [95]:
# Create a tuple and convert it into list.
tup = tuple((1,2,3,4,5,6))
list(tup)
tup_list = [i for i in tup]
tup_list
tup_list.index(2)

1

In [121]:
a = [1,233,4]
b = [12,11,23]

p = 12 & 11

In [61]:
d = dict(input().split() for x in range(2))
new_d = {int(key): value for key, value in d.items()} # d.items is a list of tuples of key value pairszd
# Converting the value of Keys to some other data typebb

123 1
11 13

## Lambda Functions, Dicts and Much more.
<b>28/07/2021</b>

In [48]:
import pandas as pd # pandas for dataframe and data manupilation

In [49]:
lister = {'Column 1': ['Dhum','Chik','Dhump','Dhump','Chik'],
         'Column 2': ['1','2','3','4','5'],
         'Column 3': [1,2,3,4,5]
         }

lister = pd.DataFrame(lister,index=['First','Second','Third','Fourth','Fifth'])

In [50]:
lister

       Column 1 Column 2  Column 3
First      Dhum        1         1
Second     Chik        2         2
Third     Dhump        3         3
Fourth    Dhump        4         4
Fifth      Chik        5         5

In [51]:
lister.values

array([['Dhum', '1', 1],
       ['Chik', '2', 2],
       ['Dhump', '3', 3],
       ['Dhump', '4', 4],
       ['Chik', '5', 5]], dtype=object)

In [52]:
lister.keys

<bound method NDFrame.keys of        Column 1 Column 2  Column 3
First      Dhum        1         1
Second     Chik        2         2
Third     Dhump        3         3
Fourth    Dhump        4         4
Fifth      Chik        5         5>

In [53]:
lister.items()

In [54]:
lister.dtypes

Column 1    object
Column 2    object
Column 3     int64
dtype: object

In [55]:
lister.size

15

In [56]:
lister.columns

Index(['Column 1', 'Column 2', 'Column 3'], dtype='object')

In [57]:
lister.shape

(5, 3)

In [61]:
lister['Column 1'][4]

'Chik'

In [45]:
lister.head(2)

       Column 1 Column 2  Column 3
First      Dhum        1         1
Second     Chik        2         2

In [44]:
lister.describe()

       Column 3
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [1]:
lister['Column 1']

NameError: name 'lister' is not defined

In [19]:
pp = [[i,j] for i,j in zip(numero,numero[::-1])]

In [ ]:
#to apply a function on a column on the dataset we use -> col.apply(function)

In [1]:
import numpy as np
import pandas as pd

In [5]:
np.sum([[0, 1], [0, 5]], axis=1)

array([1, 5])

In [10]:
a=np.array([0,1,2,3])
b=np.array([2,3,4,5])

In [12]:
l = [-3,-2,-1,0,1,2,3]
list(map(lambda x: x>0,l))

[False, False, False, False, True, True, True]

In [15]:
from functools import reduce
ll = [1,2,3,4,5]
ll2 = [7,8,9,10]
list(map(lambda x,y :x+y,ll,ll2))

[8, 10, 12, 14]

In [16]:
def cl(*args):
    return sum(args)

cl(1,2,3,4,5)

15

In [31]:
d = {"john":12, 'peter':2}
"john" in d

True

In [20]:
ll[1:3]

[2, 3]

In [21]:
ss = [12, 'as','ass','asdc']

In [22]:
print(ss.pop())

asdc

In [23]:
print([i.lower() for i in "HELLO"])

['h', 'e', 'l', 'l', 'o']

In [26]:
x=50
def cca(x):
    x =2
cca(x)
print(x)

50

In [25]:
x='abcs'
for i in range(len(x)):
    print(x)
    x='a'

abcs
a
a
a

In [30]:
xx = "abcs"
a = xx.upper()
print(a)

ABCS